extends layout

block content
	link(rel='stylesheet', href='css/style_nav.css')
	link(rel='stylesheet', href='css/style_ask.css')
	//	script(src='askDisplay.js')
	include navbar
	
	.search
		.search_wrapper
			img.search_01(src='css/search_sample.jpg')
			img.search_02(src='css/category_sample.jpg')
	.wrapper
		section.answer
			h1
				img(src='css/icon_update.png')
				Updated posts
			div#ask-card-place
				div.article_wrapper
			- for (var x = 1; x <= askdata.length; x++)
				-if(x%4==1)
					div.article_wrapper

				article.answer_card
					form.askInfo(action='askInfo', method='post', style='cursor:pointer; height:380px; border-radius:10px 10px 0px 0px;')
						img(src='#{askdata[x-1].ask_img_dir}')
						input(type='hidden', name='id', value='#{askdata[x-1]._id}') 
						div.answer_article_user_price_wrapper_02 
							div.answer_user 
								p.answer_article_user_02 #{askdata[x-1].name}
							div.answer_price 
								p.answer_article_price_02 #{askdata[x-1].reward}
						div.txt_wrapper_answer
							h2(id='ftag'+x) #{askdata[x-1].tag[0]}
							p.tag(id='ltag'+x) 
								- for(var y=1; y<askdata[x-1].tag.length; y++)
									|#{askdata[x-1].tag[y]} 
							p(id='comment'+x)	#{askdata[x-1].comment}
						div.check_box_sizecolor
							p.sizecolor #{askdata[x-1].clothes.size} , #{askdata[x-1].clothes.color}
					form.answerform(action='answerForm', method='post', name='toanswerform', class='toanswerform', style='border-radius:0px 0px 10px 10px; cursor:pointer')
						input(type='hidden', name='toimg', value='#{askdata[x-1]._id}')
						a.post_button(href="#", class="answerformbutton") Answer
						

		script.
			$(document).ready(function(){
				for(var i=1; i<="#{askdata.length}"; i++){
						var bigline=19;
						var smallline=19;
						var tagline=31;
						var ftag=$('#ftag'+i);
						var ltag=$('#ltag'+i);
						var comment=$('#comment'+i);
						var ftagval=ftag.text();
						var ltagval=ltag.text();
						var commentval=comment.text();
						
						var ltagvalarray=ltagval.split(' ');
					
						if(ftagval.length>=bigline){
							ftag.text(ftagval.substr(0,bigline-3)+'...');
						}
						else{
							ftag.text(ftagval);
						}
						
						var othertag="";
						var lettercount=0;
						var linecount=0;
						
					
						
						for(var j=0; j<ltagvalarray.length; j++){
							lettercount+=ltagvalarray[j].length;
							if(lettercount>=tagline){
									othertag+='...';
									break;
							}
							
							else{
								othertag=othertag+ltagvalarray[j]+' ';
							}
							
						}
						
						
						ltag.text(othertag);
						var tempcomment='';
						if(commentval.length>smallline*2){
								tempcomment=commentval.substr(0,smallline)+'\n'+commentval.substr(smallline,smallline-3)+'...';
						}
						else if(commentval.length>smallline){
							tempcomment=commentval.substr(0,smallline)+'\n'+commentval.substr(smallline,commentval.length-smallline);
						}
						else{
							tempcomment=commentval;
						}
						comment.text(tempcomment);
						if(!ltagval.replace(/\s/gi, '').length){
							comment.css('padding-top','26px');
						}
					}
				

				var answerformbutton=$('.answerformbutton');
				answerformbutton.click(function(){
					//- alert($(this).parent().attr('class'));
					$(this).parent().submit();
				});
				
				var askInfo=$('.askInfo');
				askInfo.mouseover(function(){
					$(this).css('box-shadow','#ffd740').css('border','0.3px solid #ffd740');
					//- alert("heelo");
				});
				
				askInfo.mouseout(function(){
					$(this).css('box-shadow','').css('border','');
					//- alert("byw~");
				});
				
				askInfo.click(function(){
					$(this).submit();
				});
				
				
				var answerform=$('.answerform');
				answerform.mouseover(function(){
					$(this).css('box-shadow','#ffd740').css('border','0.3px solid green');
				});
		
				answerform.mouseout(function(){
					$(this).css('box-shadow','').css('border','');
					//- alert("byw~");
				});
			});
	include footer
